
@font-face {
    font-family: 'BebasNeue';
    src:  url('BebasNeue-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'BBHBartle';
    src:  url('BBHBartle-Regular.ttf')  format('truetype');
}
@media only screen and (orientation: landscape)
{
    :root
    {
        --mainMargin: 10%;
        --maskWidth: 50vw;
        --fontMid: 6vh;
        --fontBig: 20vh;
        --fontSmall: 5vh;
        --fontVerySmall: 3vh;
        --align:flex;
        --marginsForBlocks: auto 1.4vw;
    }

}

@media only screen and (orientation: portrait)
{
    :root
    {
        --mainMargin: 30%;
        --maskWidth: 80vw;
        --fontMid: 8vw;
        --fontBig: 12vh;
        --fontSmall: 6vw;
        --fontVerySmall: 2.5vh;
        --align: block;
        --marginsForBlocks: 2vh auto;
    }
}
:root
{
    user-select: none;
    --mask: linear-gradient(90deg, transparent, black 15%, black 85%, transparent);
    --mainGreen: #79ae45;
    --mainPrpl: #ae456d;
    --mainGreen1: #5ba90d;
    --mainPrpl1: #c00a6b;
    --container: #d4c5fd44;
    --container2: #3a384344;
    --gradient: linear-gradient(90deg, var(--mainPrpl) 0%, var(--mainGreen) 20%, var(--mainPrpl) 40%,var(--mainGreen) 60%,  var(--mainPrpl) 80%,var(--mainGreen) 100%);
     --gradient2: linear-gradient(90deg, var(--mainPrpl1) 0%, var(--mainGreen1) 20%, var(--mainPrpl1) 40%,var(--mainGreen1) 60%,  var(--mainPrpl1) 80%,var(--mainGreen1) 100%);
}

body
{
    font-family: 'BebasNeue';
    background-color: #393641;
    margin:0;
    height: 100vh;
    overflow:hidden;
}

#bg
{
    position:absolute;
    top:0;
    left:0;
    margin:0;
    filter: blur(5rem);
    height:100vh;
    width:100vw;
    animation: animateBG1;
    background: var(--gradient);
    animation-duration: 50.0s;
    background-size:500%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -1;
}
#container
{
    padding: 4vh 0;
    background-color: var(--container);
    width:100vw;
    margin:0;
    margin-top: var(--mainMargin);
    box-shadow: 0px 4px 10px 2px rgba(40, 40, 40, 0.279);
}
#container > *
{
    margin:auto;
    text-align: center;
}
#niedziela-mid
{
    width:var(--maskWidth);
    border-top: 2px solid rgba(209, 209, 209, 0.848);
    mask-image: var(--mask);
    font-size: var(--fontMid);
}
#niedziela-big
{
    animation: animateBG1;
    background: var(--gradient2);
    animation-duration: 3.0s;
    background-size:500%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color:transparent;
    background-clip: text;
    transform:scaleY(1.4);
    font-family: 'BBHBartle';
    font-size: var(--fontBig);
}
#niedziela-smol
{
    width:var(--maskWidth);
    font-size: var(--fontSmall);
    mask-image: var(--mask);
    border-bottom: 3px solid rgba(209, 209, 209, 0.69);
}

.date
{
    text-align: center;
    width: fit-content;
    margin: var(--marginsForBlocks);
    padding: 0.5vh 1.5vh;
    background-color: var(--container);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 3px 4px 1px rgba(40, 40, 40, 0.279);
    font-size: var(--fontVerySmall);
}
#datyIn
{
    margin:auto;
    width: fit-content;
    display:var(--align);
}
#niedziela-bottom
{
    margin:4vh auto 5vh auto;
    text-align: center;
    width: 50%;
    padding: 0.5vh 1vh;
    background-color: var(--container);
    font-size: var(--fontSmall);
    border-top: 2px solid rgba(176, 166, 166, 0.477);
    border-bottom: 2px solid rgba(176, 166, 166, 0.477);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 3px 4px 1px rgba(40, 40, 40, 0.279);
}
@keyframes animateBG1
{
    0%
    {
        background-position: left;
    }
    100%
    {
        background-position:right;
    }
}