
@font-face {
    font-family: 'BebasNeue';
    src:  url('BebasNeue-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'BBHBartle';
    src:  url('BBHBartle-Regular.ttf')  format('truetype');
}
:root
{
    user-select: none;
    --mask: linear-gradient(90deg, transparent, black 15%, black 85%, transparent);
    --mainGreen: #79ae45;
    --mainPrpl: #ae456d;
    --mainGreen1: #5ba90d;
    --mainPrpl1: #c00a6b;
    --container: #d4c5fd44;
    --container2: #3a384344;
    --maskWidth: calc(25rem + 20vw);
    --gradient: linear-gradient(90deg, var(--mainPrpl) 0%, var(--mainGreen) 20%, var(--mainPrpl) 40%,var(--mainGreen) 60%,  var(--mainPrpl) 80%,var(--mainGreen) 100%);
     --gradient2: linear-gradient(90deg, var(--mainPrpl1) 0%, var(--mainGreen1) 20%, var(--mainPrpl1) 40%,var(--mainGreen1) 60%,  var(--mainPrpl1) 80%,var(--mainGreen1) 100%);
}

body
{
    font-family: 'BebasNeue';
    background-color: #393641;
    margin:0;
    height: 100vh;
    overflow:hidden;
}

#bg
{
    position:absolute;
    top:0;
    left:0;
    margin:0;
    filter: blur(5rem);
    height:100vh;
    width:100vw;
    animation: animateBG1;
    background: var(--gradient);
    animation-duration: 50.0s;
    background-size:500%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -1;
}
#container
{
    padding: 2rem 0;
    background-color: var(--container);
    width:100vw;
    margin:0;
    margin-top: 10%;
    box-shadow: 0px 4px 10px 2px rgba(40, 40, 40, 0.279);
}
#container > *
{
    margin:auto;
    text-align: center;
}
#niedziela-mid
{
    width:var(--maskWidth);
    border-top: 2px solid rgba(209, 209, 209, 0.848);
    mask-image: var(--mask);
    font-size: 2.5rem;
}
#niedziela-big
{
    animation: animateBG1;
    background: var(--gradient2);
    animation-duration: 3.0s;
    background-size:500%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color:transparent;
    background-clip: text;
    transform:scaleY(1.4);
    font-family: 'BBHBartle';
    font-size: 7.5rem;
}
#niedziela-smol
{
    width:var(--maskWidth);
    font-size: 1.5rem;
    mask-image: var(--mask);
    border-bottom: 3px solid rgba(209, 209, 209, 0.69);
}

#kalendarzBtn, #kalendarzBtn2
{
    margin:auto;
    width:fit-content;
    padding: 1rem 2rem;
    background-color: var(--container);

    transition: all 0.05s ease-in-out;
}

.date
{
    width: fit-content;
    margin: 0.4rem auto;
    padding: 0.5rem 1rem;
    background-color: var(--container);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 3px 4px 1px rgba(40, 40, 40, 0.279);
}
#datyIn
{
    margin:auto;
    width: var(--maskWidth);
    display:flex;
}
#niedziela-bottom
{
    margin:4rem auto 2rem auto;
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: var(--container);
    font-size: 2rem;
    border-top: 2px solid rgba(176, 166, 166, 0.477);
    border-bottom: 2px solid rgba(176, 166, 166, 0.477);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 3px 4px 1px rgba(40, 40, 40, 0.279);
}
@keyframes animateBG1
{
    0%
    {
        background-position: left;
    }
    100%
    {
        background-position:right;
    }
}